<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<script type="text/template" id="gamesTemplate">
    <div class="games-grid">
        {{#each list}}
        <div class="game-card">
            <img  class="game-image" src="img/download20210403221014.png">
            <div class="info-games">
                <div class="info-text"><h3>{{ game_name }}</h3>
                    <span class="author">Created by {{ game_creator }}</span></div>
                <span class="count-questions">{{ num_of_questions}} questions</span>
            </div>
        </div>
        {{/each}}
    </div>
</script>
    <!-- Hitsteps TRACKING CODE - Manual 2022-02-14 - DO NOT CHANGE -->
<script type="text/javascript">(function(){var hstc=document.createElement('script'); hstc.src='https://log.hitsteps.net/track.php?code=cb7eaec935102c6362d39884840babea';hstc.async=true;var htssc = document.getElementsByTagName('script')[0];htssc.parentNode.insertBefore(hstc, htssc);})();
</script><noscript><a href="http://www.hitsteps.com/"><img src="//log.hitsteps.net/track.php?mode=img&amp;code=cb7eaec935102c6362d39884840babea" alt="Realtime blog statistics" width="1" height="1" />visitor activity monitoring</a></noscript>
<!-- Hitsteps TRACKING CODE - DO NOT CHANGE -->
</body>
</html>


